<div class="grid-container">
  <div>
    Welcome {{name}}
  </div>
  <div>
    <h2> {{ 2+2 }} </h2>
  </div>
  <div>
    <h2> {{ "Welcome" + name }} </h2>
  </div>
  <div>
    <h2>{{ name.length }}</h2>
  </div>
  <div>
    <h2>{{ name.toUpperCase() }}</h2>
  </div>
  <div>
    <h2>{{ greetUser() }}</h2>
  </div>
  <div>
    <h3>{{ siteUrl }}</h3>
  </div>

  <div>
    <input type="text" value="Pranavi" [disabled]="true" style="width: 100%" />
    <input type="text" value="Pranavi" style="width: 100%"/>
  </div>
</div>